@import "colors";

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.5);
}
#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.failedValidation {
  border: 2px solid red;
  border-radius: 4px;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 254px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.required {
  color: red;
}
.modal-footer {
  text-align: right;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  float: none;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: $btn-primary;
  border-color: #2e6da4;
}
.hidden {
  display: none;
}
.triangle {
  font-size: 50%;
  position: absolute;
  right: 10px;
  top: -2px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 5px;
  color: #fff;
}
.dropdown-button {
  background-color: #354e36;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 170px;
}

.dropdown-button:hover, .dropdown-button:focus {
  background-color: #3e8e41;
}

.dropdownSearchInput {
  font-size: 15px;
  padding: 7px 0px 7px 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 170px;
}

.dropdownSearchInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 178px;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content ul {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: -40px;
}
.dropdown-content ul li {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  width: 141px;
  cursor: pointer;
}

.dropdown li:hover {background-color: #ddd;}

.show {display: block;}

.tableWrapper {
  margin-top: 15px;
}